global
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog
    option dontlognull
    timeout connect 10s
    timeout client 60s
    timeout server 60s

frontend http_in
    bind *:8080
    option forwardfor
    http-request set-header X-Forwarded-Proto http
    default_backend homeassistant

backend homeassistant
    server homeassistant homeassistant:8123 check
